@model Proy1Ejercicio1_MVC_BibliotecaDigital.Models.Libro

@{
    ViewBag.Titulo = "Detalle Libro";
    ViewBag.IdCategoriaSelected = Model.Categoria.Id;
}

<h3 class="mb-4">Detalle del Libro:</h3>
<dl class="row">
    <!-- ID del libro -->
    <dt class="col-sm-3">ID:</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <!-- Titulo del libro -->
    <dt class="col-sm-3">Título:</dt>
    <dd class="col-sm-9">@Model.Titulo</dd>

    <!-- Autor del libro -->
    <dt class="col-sm-3">Autor:</dt>
    <dd class="col-sm-9">@Model.Autor</dd>

    <!-- Año de publicación del libro -->
    <dt class="col-sm-3">Año de Publicación:</dt>
    <dd class="col-sm-9">@Model.AnioPublicacion</dd>

    <!-- Resumen del libro -->
    <dt class="col-sm-3">Resumen:</dt>
    <dd class="col-sm-9">
        <textarea class="form-control" rows="3" readonly>@Model.Resumen</textarea>
    </dd>

    <!-- Número de páginas del libro -->
    <dt class="col-sm-3">Número de Páginas:</dt>
    <dd class="col-sm-9">@Model.NumPaginas</dd>

    <!-- Editorial del libro -->
    <dt class="col-sm-3">Editorial:</dt>
    <dd class="col-sm-9">@Model.Editorial</dd>

    <!-- Categoría del libro -->
    <dt class="col-sm-3">Categoría:</dt>
    <dd class="col-sm-9">@Model.Categoria.Nombre</dd>
</dl>
<div class="mt-4">
    <a href="@Url.Action("Editar", "Libro", new { id = Model.Id })" class="btn btn-warning btn-sm">Editar</a>
    <a href="@Url.Action("Eliminar", "Libro", new { id = Model.Id })" class="btn btn-danger btn-sm">Eliminar</a>
</div>